




<div class="modal right come-from-modal fade"  id="ajouter_modal" aria-labelledby="modal-default" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top" style="width:50%;max-width:1000px !important"  role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Ajouter Arrêt</h2>
                <a type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body overflow-auto">
                <form id="add_pret">
                    <div class="row mt-2">
                        
                        <div class="col-md-4">
                            <label required class="text-size-12">Motif:</label>
                            <select class="text-uppercase form-control select motif_id" required name="motif_id">
                                    <option value="">Choix Motif</option>
                                    {% for motif in motifs %}
                                            <option value="{{motif.id}}">{{motif.designation|upper}}</option>
                                    {% endfor %}
                                    
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label required class="text-size-12">Employe:</label>
                            <select class=" text-uppercase form-control employe_select select employe_arret" name="employe_arret">
                                <option value="">Choix employe</option>
                                    <option data-employe=""   value=""></option>
                                      {% for emp in pemployes %}
                                            <option data-employe="{{emp.id}}"  value="{{emp.id}}">{{emp.nom|upper}} {{emp.prenom|upper}}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label required class="text-size-12">ID Employe:</label>
                            <input type="text" class="form-control" id="id_emp_arret" name="id_emp_arret" disabled/>
                        </div>
                        
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label required class="text-size-12">Date de l'arrêt *:</label>
                            <input type="date" name="periode" class="periode form-control datedebut" id="datedebut" value="" min=""/>
                        </div>

                        <div class="col-md-4">
                            <label required class="text-size-12">Fin Prévisionelle *:</label>
                            <input type="date" name="periode" class="periode form-control datefin" id="datefin" value="" min=""/>
                        </div>

                        <div class="col-md-4">
                            <label required class="text-size-12">Reprise de travail *:</label>
                            <input type="date" name="periode" class="periode form-control datereprise" id="datereprise" value="" min=""/>
                        </div>
                        
                        
                        
                    </div>
                <hr>               

                    {# <div class="row mt-2"> #}
                <button type="submit" class="btn btn-secondary add_arret" form="add_arret">Enregistre</button>
                        
                      
                        {# <div class="col-md-4">
                            <label required class="text-size-12">Dernier echeance:</label>
                            <input type="number" class="form-control" id="dernierecheance" readonly/>
                   
                        </div>
                         #}
                        
                    {# </div> #}
                </form>
                <hr>               
            <label required class="text-size-12">Traiter Arret travail en masse :</label>
                </br>   
                </br>               

               <div class="col-md-7 text-end" style="border: 1px solid #ccc; padding: 10px; border-radius: 5px;text-align: left !important;">
                    <span style="font-size: 16px; ">Import : </span>
                    <input type="file" id="upload_file_arret" style="display: none;"/>
                    <button class="btn btn-success upload_file_button" style="margin-right: 10px;"><i class="fa fa-upload text-white"></i></button>
                    
                    <span style="font-size: 16px; ">Canvas : </span>
                    <button class="btn btn-primary arret_canva" style="margin-right: 10px;"><i class="fa fa-download"></i></button>
                    
                    <span style="font-size: 16px; ">Canvas Motif: </span>
                    <button class="btn btn-primary arret_motif"><i class="fa fa-download"></i></button>
                </div>
 
    {# <hr>
    <table class="table table-bordered  table-striped" id="list_arret_import">
        <thead>
            <tr>
                <th>ID Employe</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>ID Arret LG</th>
                <th>Period</th>
                <th>Date debut</th>
                <th>Date Fin</th>
                <th>Nomber Jour</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table> #}

            </div>
            <div class="modal-footer justify-content-start" >
                {# <button type="submit" class="btn btn-secondary add_arret" form="add_arret">Enregistre</button> #}
                <a type="button" class="btn btn-link" data-bs-dismiss="modal"  data-dismiss="modal">Fermer</a>
            </div>
        </div>
    </div>
</div>