<div class="row">
    <div class="col-md-4 mb-2">
        <label for="nature_contrat">Nature Contrat (*)</label>
        <select class="select nature_contrat nature_contrat" name="nature_contrat"   required >
          <option value="" selected>Choix Nature Contract</option>
            {% for contract in naturecontract %}
                <option id="{{contract.id}}" value="{{contract.id}}">{{contract.abreviation}}</option>
            {% endfor %}
                
        </select>
    </div>
    <div class="col-md-4 mb-2">
        <label for="duree_contrat">Durée contrat (*)</label>
        <select class="select duree_contrat" name="duree_contrat"  required>
           
        </select>
    </div>
    <div class="col-md-4 mb-2">
        <label for="date_contrat">Date contrat (*)</label>
        <input type="date" name="date_contrat" class="form-control date_contrat" required>
    </div>
    <div class="col-md-4 mb-2">
        <label for="date_contrat">Date Fin (*)</label>
        <input type="date" name="date_fin" class="form-control date_fin" required>
    </div>
    <div class="col-md-4 mb-2">
        <label for="affectation">Affectation (*)</label>
        
        <select class="select affectation" name="affectation" >
            {# <option value="" selected>Choix affectation</option> #}
            {# {% for dossier in app.session.get('dossiers') %} #}
                <option value="{{app.session.get('dossier').id}}">{{app.session.get('dossier').abreviation}}</option selected>
            {# {% endfor %} #}
        </select>
    </div>
    {# <div class="col-md-4 mb-2">
        <label for="profile">Profile (*)</label>
        <select class="select profile" name="profile" id="profile" >
            
        </select>
    </div> #}
    <div class="col-md-4 mb-2">
        <label for="bareme">Baréme (*)</label>
        <select class="select bareme" name="bareme"  required>
          <option value="" selected>Choix Baréme</option>
            {% for bareme in baremes %}
                <option value="{{bareme.id}}">{{bareme.profil}}</option>
            {% endfor %}
                
        </select>
    </div>
    <div class="col-md-4 mb-2">
        <label for="fonction">Fonction (*)</label>
        <select class="select fonction" name="fonction"  required>
            <option value="" selected>Choix fonction</option>
            {% for fonction in fonctions %}
                <option value="{{fonction.id}}">{{fonction.designation}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4 mb-2">
        <label for="salaire_grille">Salaire Grille: </label>
        <input disabled type="number"  name="salaire_grille"  class="form-control salaire_grille">
    </div>
    <div class="col-md-4 mb-2">
        <label for="salaire_affecte">Salaire Affecté: </label>
        <input type="number" name="salaire_affecte" id="salaire_affecte" class="form-control salaire_affecte" required>
    </div>
    
    <div class="col-md-4 mb-2">
        <label for="ppc">PPC (*)</label>
        <input disabled type="number" name="ppc" id="ppc" class="form-control">
    </div>
    <div class="col-md-4 mb-2">
        <label for="rpc">RPC (*)</label>
        <input disabled type="number" name="rpc" id="rpc" class="form-control">
    </div>
    
</div>

 <br>
 <hr>

 <button type="submit" class="btn btn-secondary" id="cntc_btn" style="float:right;" form="new_contract">Suivant</button>
