<div class="dropdown" style="">
    <svg style="height:1.5rem" role="button" fill="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <circle cx="12" cy="5" r="2"></circle>
        <circle cx="12" cy="12" r="2"></circle>
        <circle cx="12" cy="19" r="2"></circle>
    </svg>
    <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
        {% for operation in operations %}
            {% if operation.align == true %}
            <a data-id="{{ id }}" class="dropdown-item d-flex align-items-center text-capitalize {{operation.classTag}}" id="{{operation.idTag}}" href="{{operation.link}}">
                <i class="{{operation.icon}} text-gray-400 me-2"></i>
                {{operation.designation}}
            </a>
            {% endif %}
        {% endfor %}
    </div>
</div>